@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: whitesmoke;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: whitesmoke;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2, p{
  color:black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button{

}